{template 'header'}
<style type="text/css">
.tl{width:150px;text-align:right;padding-right:20px;}
.reg_title {border-bottom:#CCCCCC 1px solid;font-weight:bold;padding:0 0 10px 10px;margin:15px 55px 0 55px;font-size:14px;color:#FF6600;}
.reg_inp {border:#7F9DB9 1px solid;padding:3px 0 3px 0;}
.tips {position:absolute;z-index:1000;width:300px;background:url('image/tips_bg.gif') no-repeat 0 bottom;overflow:hidden;margin:-5px 0 0 -10px;}
.tips div{background:url('image/tips_top.gif') no-repeat;line-height:22px;padding:8px 10px 8px 35px;}
</style>
  <div class="ny_banner">
    	
    </div>
    <div class="sign_main">
                    <ul>
                        
                            
                                <li>
                                    <div class="user_kind">
                                        <div class="user_kind_pic" align="center">
                                            <img src="images/reg_03.gif" width="110" height="90">
                                        </div>
                                        <div class="user_kind_tex">
                                            个人用户注册
                                        </div>
                                    </div>
                                    <div class="sign_tex02">
                                        具备完全民事权利能力和完全民事行为能力的自然人。
                                    </div>
                                    <div class="sign_tex03">
                                        <a href="/member/register.php?gid=5">立即注册</a>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="user_kind">
                                        <div class="user_kind_pic" align="center">
                                            <img src="images/reg_04.gif" width="110" height="90">
                                        </div>
                                        <div class="user_kind_tex">
                                            企业用户注册
                                        </div>
                                    </div>
                                    <div class="sign_tex02">
                                        能够提供合法证照的企业、事业单位、社会团体、个体工商户、民办非企业等。
                                    </div>
                                    <div class="sign_tex03">
                                        <a href="/member/register.php?gid=6">立即注册</a>
                                    </div>
                                </li>
                            
                        
                    </ul>
    </div>

{template 'footer'}